@import "macchiato.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @mauve;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#mpd,
#tray,
#backlight,
#clock,
#cava,
#pulseaudio,
#bluetooth,
#custom-lock,
#battery,
#custom-power,
#idle_inhibitor {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#mpd{
  color: @rosewater;
  border-radius: 1rem;
}

#pulseaudio {
  color: @pink;
  margin-right: 1rem;
  border-radius: 1rem;
}

#bluetooth {
  color: @red;
  margin-right: 1rem;
  border-radius: 1rem;
}

#clock {
  color: @peach;
  border-radius: 1rem;
  margin-right: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#idle_inhibitor {
  color: @green;
  margin-right: 1rem;
  border-radius: 1rem;
}

#battery {
    border-radius: 1rem 0px 0px 1rem;
    color: @yellow;

}

#custom-lock {
    color: @sky;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @blue;
}

